.shows{
    @apply flex flex-wrap items-center justify-center relative text-xl my-7
}
.showsException{
    @apply my-5 text-3xl
}
.wrapper{
    @apply mb-6 mx-4
}
.typeWrapper{
    @apply w-[500px]
}
.title{
    @apply block text-center text-2xl
}
.place{
    @apply block text-center text-slate-400 m-1 max-w-[150px] truncate mx-auto
}
.date{
    & img{
        @apply mr-6
    }
    @apply flex items-center justify-center
}
.img{
    @apply block mx-auto my-4 w-[300px] h-[200px]
}
.paginate {
    & ul {
        & li{
            &:first-child{
                @apply absolute left-[-40px]
            }
            &:last-child{
                @apply absolute right-[2px]
            }
            & a{
                @apply text-5xl transition-all duration-500 opacity-50 hover:opacity-100
            }
            transform: translate(80%, -20%);
            @apply absolute
        }
    }
}
.followedShowsPaginate {
    & ul {
        & li{
            &:first-child{
                @apply absolute left-[40px]
            }
            &:last-child{
                @apply absolute right-[40px]
            }
            & a{
                @apply text-5xl transition-all duration-500 opacity-50 hover:opacity-100
            }
            @apply absolute top-[60%]
        }
    }
}
@media screen and (max-width:1480px) {
    .wrapper{
        @apply w-[280px]
    }
}
@media screen and (max-width:1400px) {
    .wrapper{
        @apply w-[250px]
    }
}
@media screen and (max-width:1280px) {
    .wrapper{
        @apply w-[350px]
    }
    .paginate {
        & ul {
            & li{
                transform: translate(80%, -300%);
            }
        }
    }
}
@media screen and (max-width:940px) {
    .wrapper{
        @apply w-[320px]
    }
}
@media screen and (max-width:860px) {
    .wrapper{
        @apply w-[300px]
    }
}
@media screen and (max-width:820px) {
    .wrapper{
        @apply w-[250px]
    }
}
@media screen and (max-width:768px) {
    .wrapper{
        @apply w-[250px]
    }
}
@media screen and (max-width:768px) {
    .wrapper{
        @apply w-[250px]
    }
}
@media screen and (max-width:720px) {
    .shows{
        @apply my-3
    }
    .wrapper{
        @apply w-[200px]
    }
    .date{
        @apply text-base
    }
}
@media screen and (max-width:620px) {
    .wrapper{
        @apply w-[180px]
    }
}
@media screen and (max-width:576px) {
    .wrapper{
        @apply w-[150px]
    }
}
@media screen and (max-width:476px) {
    .wrapper{
        @apply w-[130px]
    }
}
@media screen and (max-width:440px) {
    .wrapper{
        @apply w-[300px]
    }
    .date{
        @apply text-xl
    }
    .paginate {
        & ul {
            & li{
                transform: translate(80%, -1400%);
            }
        }
    }
}
@media screen and (max-width:375px) {
    .paginate {
        & ul {
            & li:first-child{
                left: -52px;
            }
            & li{
                transform: translate(100%, -1400%);
            }
        }
    }
}