.header{
        background-image: url('../../../../public/banner.jpg');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        & a{
            @apply mr-16 transition-all duration-500
        }
        & a:hover{
            @apply text-blue-500
        }
        & input{
            &::placeholder {
                color: white;
                opacity: 1; /* Firefox */
              }
        }
        @apply flex flex-col h-[100vh] text-white
        
}
.headerWrapper{
    @apply flex justify-between items-center w-[1920px] mx-auto text-xl py-5 px-10 bg-transparent
}
.wrapper{
    & img{
        @apply mr-10
    }
    @apply flex items-center
}
.events{
    @apply flex justify-between items-center
}
.profileWrapper{
    @apply flex items-center
}