.section{
    @apply flex-col mt-8 py-4 px-9 flex justify-between bg-white rounded-t-md
}
body[theme = "dark"] .section{
    background-color:rgba(0, 0, 0, 0.5)
}
.sectionTitle{
    @apply text-3xl m-auto
}
.subtitle{
    @apply text-xl m-auto py-4
}
.concertCategories,
.genres,
.artists,
.dates{
    & a, span{
        @apply rounded-full cursor-pointer border-2 py-2 px-4 mr-5 border-blue-400 opacity-85 transition-all duration-500
    }
    & .spanActive{
        @apply opacity-100 
    }
    & a:hover, span:hover{
        @apply opacity-100
    }
    @apply flex justify-center flex-wrap text-xl mb-6
}
.dates{
    & span{
        @apply border-blue-600
    }
}
.concertCategories{
    & a{
        @apply border-sky-400
    }
}
.genres{
    & a{
        @apply border-red-400 mb-6
    }
}
.artists{
    & a{
        @apply  border-slate-400
    }
    @apply -mt-6
}
@media screen and (max-width:768px) {
    .dates{
        & span{
            @apply my-2
        }
    }
}
@media screen and (max-width:720px) {
    .genres{
        a:nth-child(2n){
            display: none;
        }
    }
}
@media screen and (max-width:576px) {
    .concertCategories{
        & a:last-child{
            @apply mt-5
        }
    }
    .dates a:last-child{
        @apply mt-5
    }
    .dates a{
        @apply mr-2 ml-2
    }
    .artists a{
        @apply mr-0
    }
    .sectionTitle{
        @apply text-center
    }
    .subtitle{
        @apply text-center
    }
}
@media screen and (max-width:520px) {
    .section{
        @apply px-4
    }
}
@media screen and (max-width:480px) {
    .artists{
        & a:first-child{
            @apply mb-5
        }
    }
    .dates{
        & span{
            @apply mr-3
        }
    }
    .concertCategories{
        & a{
            @apply mr-0
        }
    }
}
@media screen and (max-width:440px) {
    .section{
        @apply px-4
    }
    .genres{
        & a{
            @apply mr-2
        }
    }
}
@media screen and (max-width:376px) {
    .section{
        @apply px-0
    }
}