.inputHeader, .inputDefault{
    & span{
        position: absolute;
        width: 20px;
        height: 20px;
        transform: translate(50%, 65%);
        background-image: url('../../../../public/search.svg');
    }
    & input{
        @apply pl-10 py-6
    }
    @apply relative 
}
body[theme = "dark"] .inputHeader, .inputDefault{
        @apply opacity-80
}
.inputHeader{
    & input{
        @apply  placeholder-white bg-transparent
    }
    @apply w-[300px] flex 
}
.inputDefault{
    @apply w-[220px]
}

@media screen and (max-width: 1366px){
    .inputHeader{
        & input{
            &::placeholder{
                @apply truncate
            }
           @apply truncate
        }   
        @apply w-[250px]
    }
}
@media screen and (max-width: 1280px){
    .inputHeader{
        @apply w-[300px]
    }
}
@media screen and (max-width: 850px){
    .inputHeader{
        @apply w-[250px]
    }
}
@media screen and (max-width: 768px){
    .inputHeader{
        @apply w-[300px] my-5
    }
}