.wrapper{
    @apply max-w-[1280px] mx-auto p-5
}
.poster{
    & img{
        @apply rounded-full object-cover
    }
    @apply flex justify-around bg-white px-5 py-10 rounded-lg
}
.artistAvatar{
    @apply w-[200px] h-[200px] rounded-full
}
.posterWrapper{
    @apply flex flex-col items-center justify-center
}
.artistTitle{
    @apply text-3xl font-semibold mb-4
}
.desc{
    word-wrap: break-word;
    @apply block max-w-[800px] mb-4 text-[#94A3B8]
}
.banner{
    height: 500px;
    background-image: url('../../../../public/banner2.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 200% 15%;
    @apply relative mt-5 px-14 py-20 bg-white rounded-md
}
.btnWrapper{
    @apply absolute right-0 left-0 top-[50%]
}
.btnBanner{
    &:hover{
        @apply bg-blue-700
    }
    @apply flex mx-auto right-2 text-xl p-8 bg-blue-500 duration-500 transition-all
}
.btn{
    &:hover{
        @apply bg-blue-700
    }
    @apply flex items-center justify-center h-[60px] py-8 text-white right-2 text-xl bg-blue-500 duration-500 transition-all w-[250px]
}
.upcomingShowsWrapper{
    @apply max-h-[510px] relative overflow-hidden bg-white my-5 px-5 py-10 rounded-lg transition-all duration-500
}
.upcomingShowsWrapperActive{
    @apply max-h-max relative overflow-hidden bg-white my-5 px-5 py-10 rounded-lg transition-all duration-500
}
.upcomingShows{
    & .btn{
        @apply text-sm w-32 h-6 right-0 mx-0
    }
    @apply flex items-center justify-around mb-6
}
.upcomingDate{
    @apply block
}
.upcomingDesc{
    @apply block text-[#94A3B8] truncate w-[200px] text-center
}
.more{
    &:hover{
        @apply text-blue-700
    }
    @apply absolute bottom-0 right-0 left-0 pb-3 block bg-white text-center cursor-pointer border-t-2 pt-2 border-black duration-500 transition-all
}
.about{
    @apply flex flex-col w-[100%] h-5/6 bg-white my-5 px-5 py-10 rounded-lg
}
.aboutHalf{
    @apply flex flex-col w-[48%] pl-6 h-5/6 bg-white my-5 px-5 py-10 rounded-lg
}
.aboutTitle{
    @apply text-xl text-center
}
.aboutDesc{
    word-wrap: break-word;
    @apply block text-[#94A3B8] leading-loose indent-5
}
.aboutWrapper{
    @apply  w-[100%] flex justify-between
}