
.section{
    background-image: url('../../../../public/banner.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    @apply flex justify-between bg-white
}
.promo{
    & h1{
        word-wrap: break-word;
       @apply text-5xl font-bold text-white
    }
    & span{
        @apply mt-5 block text-center text-3xl mr-[30px]
    }
    & .btn{
        &:hover{
            @apply bg-blue-700
        }
        @apply right-2 text-xl mt-8 p-8 bg-blue-500 duration-500 transition-all
    }
    @apply absolute top-[50%] right-[5vw] flex-col items-center justify-center text-center pl-16 flex
}
body[theme = "dark"] .promo{
    & h1{
        @apply opacity-80
    }
    & .btn{
        &:hover{
            @apply bg-slate-400
        }
        @apply  bg-slate-600
    }
}
@media screen and (max-width: 1280px){
 .promo{
    display: block;
    margin: auto;
    top: 50%;
    width: 90vw;
 }
}
@media screen and (max-width: 1024px){
    .promo{
        width: 95vw;
        & h1{
           @apply text-4xl
        }
    }
   }
   @media screen and (max-width: 768px){
    .promo{
        & h1{
           @apply text-3xl
        }
        @apply w-[100vw]
    }
   }
   @media screen and (max-width: 420px){
    .promo{
        & h1{
           @apply text-2xl
        }
    }
   }