
.section{
    background-image: url('../../../../public/banner.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    @apply relative flex justify-between h-[70vh] bg-white
}
.promo{
    & h1{
        word-wrap: break-word;
       @apply text-5xl font-bold text-white
    }
    & .btn{
        &:hover{
            @apply bg-blue-700
        }
        @apply right-2 text-xl mt-8 p-8 bg-blue-500 duration-500 transition-all
    }
    @apply absolute top-[40%] right-4 flex-col items-center justify-center text-center pl-16 flex
}
