.section{
    @apply max-w-[1280px] mx-auto p-5
}
.poster{
    @apply bg-white px-5 py-10 rounded-lg
}
.posterWrapper{
    @apply flex flex-col items-center justify-center
}
.artistTitle{
    @apply text-3xl text-center font-semibold mb-4
}
.preview{
    @apply block mx-auto mb-8 rounded-md
}
.link{
    &:hover{
        @apply text-blue-500
    }
    @apply ml-3 transition-all duration-500
}
.desc{
    word-wrap: break-word;
    @apply block max-w-[800px] mb-4 text-[#94A3B8]
}
.btn{
    &:hover{
        @apply bg-blue-700
    }
    @apply flex mx-auto right-2 text-xl p-8 bg-blue-500 duration-500 transition-all
}
.aboutWrapper{
    @apply flex
}
.calendar{
    @apply flex justify-evenly w-full
}
.live, .date{
    & img{
        @apply mr-10 rounded-none
    }
    @apply flex items-center my-10
}
.wrapper{
    @apply flex flex-col items-center justify-center text-center
}
.text{
    @apply text-center w-[100px]
}
.aboutWrapper{
    @apply flex flex-col text-center my-5 bg-white rounded-md p-5
}
.aboutTitle{
    @apply text-2xl mb-5
}
.aboutDesc{
    word-wrap: break-word;
    @apply block text-[#94A3B8] leading-loose min-h-[200px]
}
.banner{
    height: 500px;
    background-image: url('../../../../public/banner2.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 200% 15%;
    @apply relative px-14 py-20 bg-white rounded-md
}
.btnWrapper{
    @apply absolute right-0 left-0 top-[50%]
}